#wrapper {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.main-menu > div {
	margin-left: 3%;
}

.simple-block {
	width: 100%;
	float: left;
	background: #f0f0f0;
	position: relative;
	padding: 4%;
	text-align: center;
	z-index:0;
}

header.simple-block, footer.simple-block {
	padding: 1.5% 4%;
}

.simple-block::before, .simple-block::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	pointer-events: none;
	z-index:-1;
}

@media (max-width: 800px) {
	.block-inside {
		width: 100%!important;
		margin-left: 0!important;
	}
}

.block-inside {
	margin: 15px 30%;
	box-sizing: padding-box;
	background: #fff;
	padding: 4%;
	display: inline-block;
}

.text-block {
	margin-left: 5%;
	width: 90%;
}

.divider-block {
	padding: 10px 0px;
}

.divider-block hr {
	margin: 0;
	padding: 0;
}

.video-block, .image-block {
	width: 100%;
}

.colums-block {
	align-items:center;
	justify-content: space-between;
	display: flex;
}

.colums-block>div {
	flex-basis: 49.5%;
	margin-top: 5px;
	width: 100%;
	min-width: 0;
}

@media (max-width: 850px) {
	.colums-block.three {
		flex-wrap: wrap;
	}

	.colums-block.three * {
		text-align: center!important;
	}

	.colums-block.three>div {
		flex-basis: 100%!important;
		width: 100%!important;
	}
}

.button-block {
	padding: 10px 10px;
	max-width: 100%;
	border-radius: 5px;
	background: #e57e7e;
	color: white;
	cursor: pointer;
	border: 2px solid #d66969;
	-webkit-box-shadow: 0px 2px 8px -3px rgba(71,71,71,0.98);
	-moz-box-shadow: 0px 2px 8px -3px rgba(71,71,71,0.98);
	box-shadow: 0px 2px 8px -3px rgba(71,71,71,0.98);
	font-size: 1em;
}

@media (max-width: 699px) {
	.button-block {
		padding-left: 1%!important;
		padding-right: 1%!important;
	}
}

.button-block-clear {
	width: 100%
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 90%;
	margin: 0 5%;
}

form input, form textarea, form button {
	padding: 10px;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 0.9em;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 2px solid #d5d5d5;
	min-width: 150px;
}

form textarea {
	resize: none;
	border: 2px solid #d5d5d5;
}

form input:focus, form textarea:focus {
	border-color: #d88989!important;
}

form .message {
	width:100%;
	margin-top:5px;
	color: #d07979;
	font-weight: bold
}

/* Пользовательские стили */

#simple-block-1 {
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-top-width: 0px;
	background: #f2e3b1;
}

#colums-block-1>div {
	flex-basis: 33%;
}

#text-block-1 {
	color: #423a0c;
	font-size: 1.25em;
}

#text-block-2 {
	color: #bd6a2f;
	font-size: 2.15em;
}

#text-block-3 {
	font-size: 2.55em;
	line-height: 1.25;
	letter-spacing: 0.0475em;
	margin: 1.5% 10%;
	width: 80%;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	color: #bd6a2f;
}

#form-block-1 {
	margin: 0% 16.5%;
	flex-basis: 67%;
	justify-content: center;
}

#form-block-1 button {
	background: #bd6a2f;
	border-color: #8a3700;
}

#form-block-1 button:hover {
	background: #a45116;
	border-color: #711e00;
}

#simple-block-2 {
	background: #ffffff;
}

#colums-block-3 {
	align-items: flex-start;
}

#colums-block-3>div {
	flex-basis: 33%;
}

#text-block-12 {
	color: #bd6a2f;
	font-size: 2.25em;
	margin: 4% 5%;
}

#text-block-13 {
	color: #bd6a2f;
	font-size: 1.65em;
	margin: 3% 5%;
}

#text-block-14 {
	color: #bd6a2f;
	font-size: 2.3em;
	margin: 4% 5%;
}

#text-block-15 {
	font-size: 2.3em;
	color: #bd6a2f;
	margin: 4% 5%;
}

#text-block-16 {
	font-size: 2.3em;
	margin: 4% 5%;
	color: #bd6a2f;
}

#simple-block-3 {
	background: #e3e3d7;
	background: -moz-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: linear-gradient(135deg, #e3e3d7 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3d7', endColorstr='#e6d491',GradientType=1);
}

#text-block-17 {
	font-size: 1.4em;
}

#text-block-18 {
	font-size: 1.4em;
}

#text-block-19 {
	font-size: 1.15em;
	letter-spacing: -0.025em;
}

#simple-block-4 {
	background: #e3e3d7;
	background: -moz-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: linear-gradient(135deg, #e3e3d7 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3d7', endColorstr='#e6d491',GradientType=1);
}

#text-block-4 {
	font-size: 3.7em;
	color: #ad7047;
	margin: 0% 5%;
	font-family: Verdana, Geneva, sans-serif;
}

#text-block-5 {
	font-size: 1.6em;
	color: #ad7047;
	margin: 2% 5%;
}

#text-block-6 {
	font-size: 1.15em;
	color: #4a4a4a;
}

#text-block-7 {
	font-size: 1.6em;
	color: #ad7047;
	margin: 2% 5%;
}

#text-block-8 {
	font-size: 1.15em;
	color: #4a4a4a;
}

#text-block-9 {
	font-size: 1.6em;
	color: #ad7047;
	margin: 2% 5%;
}

#text-block-10 {
	font-size: 1.15em;
	color: #4a4a4a;
}

#divider-block-1 hr {
	border-top-width: 2px;
	margin: 0% 40.5%;
	width: 19%;
	border-top-color: #d6d6d6;
}

#colums-block-2>div {
	flex-basis: 33%;
}

#block-inside-1 {
	width: 80%;
	margin: 15px 10%;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c9;
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: linear-gradient(135deg, #ffffff 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6d491',GradientType=1);
}

#block-inside-2 {
	width: 80%;
	margin: 15px 10%;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c9;
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: linear-gradient(135deg, #ffffff 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6d491',GradientType=1);
}

#block-inside-3 {
	width: 80%;
	margin: 15px 10%;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c9;
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 1%, #e6d491 100%);
	background: linear-gradient(135deg, #ffffff 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6d491',GradientType=1);
}

#simple-block-5 {
	background: #e3e3d7;
	background: -moz-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: linear-gradient(135deg, #e3e3d7 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3d7', endColorstr='#e6d491',GradientType=1);
}

#text-block-11 {
	font-size: 2.5em;
	color: #bd6a2f;
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

#text-block-20 {
	font-size: 1.55em;
	color: #bd6a2f;
	width: 76%;
	margin: 0% 12%;
	text-align: left;
}

#divider-block-2 hr {
	border-top-width: 3px;
	margin: 1% 40%;
	width: 20%;
	border-top-color: #c7b5b9;
	border-top-style: dashed;
}

#simple-block-6 {
	background: #f0f0f0 url('https://crafty.site/projects/NcfRtYDCZHiE/img/1627381021.jpg') center center repeat;
	background-size: cover;
	background-blend-mode: multiply;
	background-attachment: fixed;
}

#text-block-21 {
	font-size: 2.4em;
	color: #bd6a2f;
	font-family: Trebuchet MS, Helvetica, sans-serif;
}

#text-block-22 {
	font-size: 1.5em;
	color: #ad7047;
	width: 82%;
	margin: 3% 9%;
}

#block-inside-4 {
	width: 63%;
	margin: 87px 18.5%;
	border-radius: 9px;
	border-style: solid;
	border-width: 2px;
	border-color: #3a4466;
	background: #e3e3d7;
	background: -moz-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: linear-gradient(135deg, #e3e3d7 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3d7', endColorstr='#e6d491',GradientType=1);
}

#colums-block-2 {
	align-items: flex-start;
	margin: 0% 0;
}

#simple-block-7 {
	background: #e3e3d7;
	background: -moz-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: -webkit-linear-gradient(-45deg, #e3e3d7 1%, #e6d491 100%);
	background: linear-gradient(135deg, #e3e3d7 1%, #e6d491 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3d7', endColorstr='#e6d491',GradientType=1);
}

#text-block-23 {
	font-size: 3.15em;
	color: #ad7047;
	font-family: Verdana, Geneva, sans-serif;
}

#form-block-2 {
	margin: 2.5% 37%;
	flex-basis: 26%;
}

#form-block-2 input, #form-block-2 textarea, #form-block-2 button {
	border-radius: 20px;
}

#form-block-2 button {
	background: #b55532;
	border-color: #822200;
	color: #1c1617;
}

#text-block-27 {
	color: #b36f09;
	text-align: left;
	font-size: 1.75em;
}

#form-block-2 button:hover {
	background: #9c3c19;
	border-color: #690900;
}

#text-block-28 {
	line-height: 0.875;
	font-size: 1.6em;
	margin: 3.75% 5%;
	color: #ad7047;
}

#text-block-24 {
	color: #bd6a2f;
	font-size: 1.5em;
	margin: 3% 5%;
}

/* Конец пользовательских стилей */
